@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700|Poppins:300,400,500,600,700,800|Open+Sans:300,400,600,700,800');

body {
    padding: 0px;
    margin: 0px;
    background: #1a1a1a;
    font-family: 'Poppins', sans-serif;
    color: white;
    max-width: 100vw;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.header {
    position: absolute;
    z-index: 30;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.mainhero {
    font-family: 'News Cycle', sans-serif;
    height: 94vh;
    width: 100%;
}



.button {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e50914;
    margin: 18px;
    border-radius: 3px;
    z-index: 100;
    box-shadow: 1px 1px 2px #1a1a1a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500 !important;
    border: none;
    text-decoration: none;
}

.button:hover {
    background-color: #f40612;
}

.button-signin {
    font-size: 16px;
    font-weight: 400;
    height: 33px;
    width: 120px;
}

.active {
    color: white;
    border-bottom: 3px solid red;
}

.background {
    height: 70%;
    display: block;
    position: relative;
    flex-direction: column;
    background-image: url("/assets/background.jpg");
    background-position: 67%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.logo {
    fill: #e50914;
    height: 45px;
    width: 167px;
    vertical-align: center;
    float: left;
}

.logo-wrapper {
    width: 100%;
    /* border: 2px solid red; */
    padding: 15px;
}

.svg-icon {
    height: 34px;
    display: inline-block;
    color: #777;
    fill: #777;
    margin: 5x 0px;
}

.active .svg-icon {
    height: 34px;
    display: inline-block;
    color: white;
    fill: white;
    margin: 5x 0px;
}

.active span {
    color: white;
}

.info-header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #777;
}

.info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    width: 80%;
    height: 85px;

}

.info-header-button {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #777;
    font-size: .9em;
    font-weight: 600;
    width: 30%;
}

.icon-wrapper {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-body {
    background: black;
    width: 100%;
}

#info-body-cancel img {
    width: 350px;
    margin-top: -50px;
    margin-bottom: 100px
}

#info-body-cancel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    width: 100%;
}

.body-text {
    text-align: center;
    width: 65%;
    font-size: 1.3em;
    align-self: center;

}

.bg-gradient::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to bottom, rgba(18, 18, 18, 1) 1%, rgba(26, 26, 26, 0) 65%);
    z-index: 20;
    top: 0px;
    bottom: auto;
}

.bg-gradient::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 65%;
    background-image: linear-gradient(to top, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0) 65%);
    z-index: 10;
    bottom: 0px;
}

.mainhero::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .9) 20%, rgba(0, 0, 0, 0) 65%);
    height: 65%;
    width: 100%;
    bottom: 57px;
    z-index: 10;
}

.actioncall-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actioncall {
    position: relative;
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;ss
    height: 30%;
    max-width: 40em;
    top: -2px;
    /* border: 2px solid greenyellow; */
}

.actioncall-text {
    position: relative;
    z-index: 40;
    text-align: center;
    margin-top: 20px;
}

.actioncall-text h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3em;
    margin-block-start: 0.2em;
    margin-block-end: 0.1em;
}

.actioncall-text p {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.08em;
    margin-block-start: 0.1em;
    margin-block-end: 0.2em;
}



.button-actioncall {
    align-self: center;
    height: 48px;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 0.1em;
    margin-bottom: 50px;

}



/* background: #1a1a1a; */

/* font-family: 'News Cycle', sans-serif; */