@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700|Poppins:300,400,500,600,700,800|Open+Sans:300,400,600,700,800');

body {
    padding: 0px;
    margin: 0px;
    background: #000000;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    max-width: 100vw;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.header {
    position: absolute;
    z-index: 30;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;

}

.mainhero {
    font-family: 'News Cycle', sans-serif;
    height: 92vh;
    width: 100%;
}



.button {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #e50914;
    margin: 18px;
    border-radius: 3px;
    z-index: 100;
    -webkit-box-shadow: 1px 1px 2px #1a1a1a;
            box-shadow: 1px 1px 2px #1a1a1a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500 !important;
    border: none;
    text-decoration: none;
}

.button:hover {
    background-color: #f40612;
}

.button-signin {
    font-size: 16px;
    font-weight: 400;
    height: 33px;
    width: 120px;
    position: absolute;
    right: 0px;
}

.button span {
    margin-top: -2px;
}

.active {
    color: whitesmoke;
    border-bottom: 3px solid red;
}

.background {
    height: 70%;
    display: block;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url("/assets/background.jpg");
    background-position: 67%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.logo {
    fill: #e50914;
    height: 45px;
    width: 83px;
    vertical-align: center;
    float: left;
}



.logo-wrapper {
    width: 100vw;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}


.bg-gradient::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(18, 18, 18, 1)), color-stop(65%, rgba(26, 26, 26, 0)));
    background-image: linear-gradient(to bottom, rgba(18, 18, 18, 1) 1%, rgba(26, 26, 26, 0) 65%);
    z-index: 20;
    top: 0px;
    bottom: auto;
}

.bg-gradient::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 65%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(26, 26, 26, 1)), color-stop(65%, rgba(26, 26, 26, 0)));
    background-image: linear-gradient(to top, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0) 65%);
    z-index: 10;
    bottom: -1px;
}

.mainhero::after {
    content: "";
    position: absolute;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba(0, 0, 0, .9)), color-stop(65%, rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to top, rgba(0, 0, 0, .9) 20%, rgba(0, 0, 0, 0) 65%);
    height: 65%;
    width: 100%;
    bottom: 8vh;
    z-index: 10;
}

.actioncall-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

.actioncall {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    max-width: 40em;
    bottom: 10%;
    /* border: 2px solid greenyellow; */
}

.actioncall-text {
    position: relative;
    z-index: 40;
    text-align: center;
    margin-top: 20px;
}

.actioncall-text h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: calc(100vw / 12);
    -webkit-margin-before: 0.2em;
            margin-block-start: 0.2em;
    -webkit-margin-after: 0.1em;
            margin-block-end: 0.1em;
}

.actioncall-text p {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: calc(100vw / 24);
    letter-spacing: 0.08em;
    -webkit-margin-before: 0.1em;
            margin-block-start: 0.1em;
    -webkit-margin-after: 0.2em;
            margin-block-end: 0.2em;
}



.button-actioncall {
    -ms-flex-item-align: center;
        align-self: center;
    height: 48px;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 0.1em;
    /* margin-bottom: 50px; */
}

.button-actioncall-devices {
    -webkit-transform: scale(1);
            transform: scale(1);
    grid-column: 1 / span3
}

.button-actioncall-price {
    -webkit-transform: scale(1);
            transform: scale(1);
    grid-column: 1 / span3;
    margin-top:0px;
}



.price-table {
    grid-column: 1 / span 4;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #999;
}

.headings {
    grid-column: 1 / 3;
    display: grid;
    text-transform: uppercase;
    font-weight: 600;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    list-style: none;  
    margin: 0;  
    padding: 0;
    color: whitesmoke;
    min-width: calc(min-content * 1.2);
}

.fa-check {
    transform: scale(.8);
}

.checks {
    display: flex;
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin: 0;
    padding: 0;
    list-style: none;     
}

.row-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    height: 30px;
    grid-column: 1 / 3;
    text-align: center;
}

.gray {
    background: #222222;
}


/* .headings {
    list-style: none;
}

.checks {
    list-style: none;
} */

.svg-icon {
    min-height:30px;
    height: 5vh;
    max-width: 15vw;
    display: inline-block;
    color: #777;
    fill: #777;
    margin-top: 0;
}

.active .svg-icon {
    color: whitesmoke;
    fill: whitesmoke;
}

.active span {
    color: whitesmoke;
}

.info-header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0;
    min-height: 10vh;
    padding: 2vh 0 0 0;
    border-bottom: 1px solid #444;
    background: #1a1a1a;

}

.info-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    width: 80%;
    min-height: 80px;
    z-index: 100;
}


.info-header-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: distribute;
                justify-content: space-around;
    color: #777;
    font-size: .9em;
    font-weight: 600;
    width: 30%;
    text-decoration: none;
}

.info-header-button:hover {
    color: whitesmoke;
}

.info-header-button:hover svg {
    color: whitesmoke;
    fill: whitesmoke;
}

.icon-wrapper {
    height: 45px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.device-screens-small {
    display: block;
}

.device-screens-desktop {
    display: none;
}

.description-small {
    display: inline;
}

.description-desktop {
    display: none;
}



.info-body {
    background: black;
    width: 100%;
    min-height: 65vh;
}


#info-body-devices {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    display: none;
}

.content {
    margin-top: 5vh;
    display: grid;
    width: 75%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
    grid-row-gap: 2em;
}

#info-body-price  .content {
    grid-template-columns: repeat(4, 1fr);
}

#device-content-cta {
    grid-column: span 3;
    width: 100%;
}

#price-content-cta {
    grid-column: span 4;
    width: 100%;
}



#info-body-price {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    display: none;
}



#info-body-cancel img {
    width: 350px;
    margin-bottom: 100px;
}

#info-body-cancel .button-actioncall {
    margin-bottom: 0;
}

#info-body-cancel {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 2em;
    width: 100%;
}

.info-subcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.body-text {
    text-align: center;
    width: 65%;
    font-size: 1.3em;
    -ms-flex-item-align: center;
        align-self: center;
}

.device-sub-info {
    grid-column: span 3;
    text-align: center;
}

.device-sub-info img {
    width: 100%;
}

.device-sub-info h3 {
    margin-top:-0.8em;
}
.device-sub-info p {
    margin-top:-0.8em;
}

.site-footer-wrapper {
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 30vh;
}

.footer-links {
    list-style: none;
    padding: 0;
    font-size: .8em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
;}

.site-footer {
    width: 90%;
    color: #777;
}

.site-footer a {
    color: #777;
    text-decoration: none;
}

.site-footer a:hover {
    color: #999;
    text-decoration: underline;
}

.footer-country {
    position: absolute;
    margin-top: 1em;
    font-size: .8em;
}

.footer-link-item {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.fa-angle-right {
    display: none;
}


/* @media only screen and (max-width: 1000px) and (orientation: landscape) {

    .device-screens-small {
        display: block;
    }
    
    .device-screens-desktop {
        display: none;
    }
} */


@media only screen and (min-width: 440px) {
    .price-table {
        font-size: 1em;
    }
    
    .logo {
        height: 45px;
        width: 167px;
    }

    .footer-link-item {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }

    .info-header {
        min-height: 90px;
    }

    /* .svg-icon {
        margin-top: 20px;
    } */

    .footer-links {
        grid-template-columns: repeat(3, 1fr);
    }


}

@media only screen and (min-width: 660px) {
    .row-label {
        font-size: 1em;
    }


    .actioncall-text h1 {
        font-size: 4em;
    }
    
    .actioncall-text p {
        font-size: 1.7em;
        letter-spacing: 0.08em;
    }
    
    #button-info-cancel {
        -webkit-transform: scale(1.4);
                transform: scale(1.4);
    }
}

@media only screen and (min-width: 990px) {

    .fa-check {
        transform: scale(1);
    }

    .price-table {
        grid-column: 1 / span 4;
        width: 100%;
        display: grid;
        grid-template-columns: 50vw 1fr;
        color: #999;
    }
    
    .headings {
        grid-column: 2 / 3;
        display: grid;
        text-transform: uppercase;
        font-weight: 600;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
        list-style: none;  
        margin: 0;  
        color: whitesmoke;
        min-width: calc(min-content * 1.2);
    }
    
    .checks {
        display: flex;
        grid-column: span 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
        margin: 0;
        list-style: none;     
    }
    
    .row-label {
        display: flex;
        align-items: center;
        padding-left: 20px;
        height: 40px;
        min-width: 40vw;
        grid-column: 1 / 2;
        justify-content: left;
        font-size: 1em;
    }
    
    #device-content-cta {
        grid-column: span 2;
        padding-right: 3em;
    }

    #price-content-cta {
        grid-column: span 2;
        padding-right: 3em;
    }

    .button-actioncall-devices {
        -webkit-transform: scale(1);
                transform: scale(1);
        grid-column: 3 / span 1
    }

    .button-actioncall-price {
        -webkit-transform: scale(1);
                transform: scale(1);
        grid-column: 3 / span 2
    }

    .device-sub-info {
        grid-column: span 1;
    }
    
    .logo-wrapper {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    .background {
        height: 100%;
        display: block;
        position: relative;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background-image: url("/assets/background.jpg");
        background-position: 67%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
    }

    .bg-gradient::after {
        height: 100%;
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(9,9,9, 0.9)), color-stop(50%, rgba(9,9,9, .7)));
        background-image: linear-gradient(to top, rgba(9,9,9, 0.9) 0%, rgba(9,9,9, .7) 50%);
    }

    .info-subcontainer {
        width: 50%;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .body-text {
        text-align: left;
        width: 80%;
        font-size: 1.7em;
        -ms-flex-item-align: start;
            align-self: flex-start;
        margin-left: 6vw;
    }

    #info-body-cancel {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .info-subcontainer .button-actioncall {
        -webkit-transform: scale(1.4);
                transform: scale(1.4);
        -ms-flex-item-align: start;
            align-self: flex-start;
        margin-left: 10vw;
    }

    #info-body-cancel img {
        width: 450px;
        margin-bottom: 40px;
    }

    .actioncall {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer-links {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1320px) {
    
    .actioncall {
        max-width: 60em;
    }

    .actioncall-text h1 {
        font-size: 5em;
    }
    
    .actioncall-text p {
        font-size: 2em;
        letter-spacing: 0.08em;
        margin-bottom: 1.3em;
    }
    
    .button-actioncall {
        -webkit-transform: scale(1.9);
                transform: scale(1.9);
    }

    .button-actioncall-devices {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    .button-actioncall-price {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    .device-screens-small {
        display: none;
    }
    
    .device-screens-desktop {
        display: block;
    }

    .description-small {
        display: none;
    }
    
    .description-desktop {
        margin-top: 2em;
        font-size: 1.1em;
        text-align: center;
        display: block;
    }

    .fa-angle-right {
        display: block;
        margin-left: 1.2em;
        -webkit-transform: translateY(1px) scale(1.6);
                transform: translateY(1px) scale(1.6);
    }
}




/* background: #1a1a1a; */

/* font-family: 'News Cycle', sans-serif;*/